/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  background: #344a72;
  color: #fff;
  line-height: 1.8;
}

.bg-primary-subtle {
  height: 60vh;
  text-align: center;
  margin-top: -15px;
  margin-bottom: -15px;
}
.main {
  background-color: aquamarine;
} */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  background: #344a72;
  color: #fff;
  line-height: 1.8;
}

a {
  text-decoration: none;
}
#container {
  margin: 30px auto;
  max-width: 400px;
  padding: 20px;
}
.form-wrap {
  background: #fff;
  padding: 15px 25px;
  color: #333;
}
.form-wrap h1,
.form-wrap p {
  text-align: center;
}
.form-wrap .form-group {
  margin-top: 15px;
}
.form-wrap .form-group label {
  display: block;
  color: #666;
}
.form-wrap .form-group input {
  width: 100%;
  padding: 10px;
  border: #ddd 1px solid;
  border-radius: 5px;
}
.form-wrap button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background: #49c1a2;
  color: #fff;
  cursor: pointer;
}
.form-wrap button:hover {
  background: #37a08e;
}
.form-wrap .button-text {
  font-size: 13px;
  margin-top: 20px;
}
.page {
  background-color: #28467e;
  margin-top: -30px;
  height: 91.5vh;
}
footer {
  text-align: center;
  justify-content: center;
  background: #133065;
  color: #fff;
  padding: 0.3rem;
}
