* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  background: #79bfde;
  color: #fff;
  line-height: 1.8;
}

a {
  text-decoration: none;
}
h1 {
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}
#container {
  margin: 30px auto;
  max-width: 400px;
  padding: 20px;
}
.form-wrap {
  background: #fff;
  padding: 15px 25px;
  color: #333;
  border-radius: 15px;
}
.form-wrap h1,
.form-wrap p {
  text-align: center;
}
.form-wrap .form-group {
  margin-top: 15px;
}
.form-wrap .form-group label {
  display: block;
  color: #666;
}
.form-wrap .form-group input {
  width: 100%;
  padding: 10px;
  border: #ddd 1px solid;
  border-radius: 5px;
}
.form-wrap button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background: #49c1a2;
  color: #fff;
  cursor: pointer;
}
.form-wrap button:hover {
  background: #37a08e;
}
.form-wrap .button-text {
  font-size: 13px;
  margin-top: 20px;
}
.page {
  background: #b7dbeb;
  margin-top: -30px;
  min-height: 100vh;
}
/* Date time widget */
.datetime {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  padding: 15px;
  padding-top: 8px;
  color: #090909;
  background-color: #e8e8e8;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.time {
  font-size: 2em;
  color: #000000;
}

/* Task list */
.tasks {
  background: #fff;
  margin-top: 10px;
  margin-left: -20px;
  margin-right: -20px;
  border-radius: 8px;
}
.task {
  background-color: #e8e8e8;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.25);
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
  padding: 5px;
  border-radius: 8px;
}
.list {
  display: block;
}
.t-btn {
  color: #fff;
  background: #49c1a2;

  padding: 2px;
  border-radius: 2px;
  border: none;
  margin: 5px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.t-btn:hover {
  background: #37a08e;
  color: #000000;
}

.list {
  padding-left: 20px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  justify-content: center;
  background: #85b1c7;
  color: #fff;
  padding: 0.3rem;
}

/* Mobile Screen */

@media only screen and (max-width: 400px) {
  .tasks {
    width: 95%;
    margin-left: 8px;
  }
}
